[nelson]
cycleInterval = 60
epochInterval = 300
apiPort = 18600
port = 16600
IRIPort = 14600
TCPPort = 15600
UDPPort = 14600
dataPath = data/neighbors.db
isMaster = false
silent = false
; use automatic service to download latest initial nodes
getNeighbors = https://raw.githubusercontent.com/SemkoDev/nelson.cli/master/ENTRYNODES
; or/and add as many initial nelson neighbors, as you like
neighbors[] = mainnet.deviota.com/14600
neighbors[] = mainnet2.deviota.com/14600
neighbors[] = mainnet3.deviota.com/14600
